:root {
    /* Spacing */

    --xs: 1rem;
    --s: 2rem;
    --m: 3rem;
    --l: 4rem;
    --xl: 6rem;
    --xxl: 8rem;

    /* Width and Height percentage */

    --width-s: 25%;
    --width-m: 50%;
    --width-l: 75%;
    --width-xl: 100%;


    /* Font */

    --line-height-m: 1.6;
}