.wrapper {
    display: grid;
    grid-template-columns: 1fr 2.4fr 0.8fr;
    grid-template-rows: var(--xxl) 1fr;
    grid-template-areas:
    "header header header"
    "profile main sidebar";
    gap: var(--s) var(--m);
}

.main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title title"
                         "post post";
    grid-template-rows: var(--l) 1fr;
    margin-bottom: var(--s);
}


.post {
    display: grid;
    grid-area: post;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--s);
}

.title {
    grid-area: title;
    padding-left: var(--s);
}


@media (max-width: 1050px){

    .main {
       grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "post";
    }

    .post {
        grid-template-columns: 1fr;
    }
}