.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: profile;
}

.avatar {
    width: 150px;
    height: 150px;
    position: relative;
}

.image {
    border-radius: var(--wh-m);
}

.information {
    display:flex;
    width: var(--wh-xl);
    flex-direction: column;
    align-items:center;
}

.information > p {
    text-align: center;
    width: 65%;
    line-height: var(--line-height-m);
}

.information p:first-child {
    font-weight: 600;
    font-size:20px;
}

@media ( max-width: 725px){

    .profile {
        transition: ease-in all 500ms ;
        position:fixed;
        background: white;
        inset:0;
        z-index: 10;
        transform: translate(-100%, 0);
    }

    .invisible {
        transition: none !important;
    }

    .avatar {
        margin: 100px 0 0 0;
    }

    .active{
        transform: translate(0, 0);
    }
}
