
.header {
    display:flex;
    grid-column:1/ -1;
}

.form {
    display: flex;
    flex: 0 0 70%;
    margin-left: auto;
    margin-right: var(--xs);
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form * {
    width: 100%;
}

.form label {
    order: 1;
    position: absolute;
    top: 50px;
    pointer-events: none;
}

.form input {
    order: 0;
    border-width: 0 0 1px 0;
}

@media (max-width: 1160px){

    .form {
        align-items: flex-end;
        margin-right: var(--xs);
        flex: 0 0 65%;
    }
}

@media(max-width: 920px){}

@media(max-width: 725px){
}
