.post{
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    cursor:pointer;
}

.post > *  {
    padding-top: var(--xs);
    padding-left: var(--xs);
}

.post a:first-of-type{
    font-size: var(--f-l);
}

.post > h2 {
    font-size: var(--xs);
}

.image {
    position:relative;
    flex: 0 0 var(--wh-m);
}

.link::first-letter {
    text-transform: uppercase;
}



@media (max-width: 1160px){

    .post {
        margin-right: var(--xs);
    }

    .image {
        min-height:250px;
    }
}

@media(max-width: 920px){}

@media(max-width: 725px){}